<%- include('partials/header') %>

    <div class="row mt-5">
        <div class="col-sm-3  text-xs-center">
            <img src="<%= user.imageurl %>" class="m-x-auto img-fluid img-circle" alt="avatar">
            <div class="mt-4">
                <h6>Website</h6>
                <a href="<%= user.website %>">
                    <% let website %>
                    <% if(user.website.length >26){
                        website = user.website.slice(0,26) +" ...";
                    }
                    else {
                        website = user.website;
                    }
                    %>
                    <%= website %>
                </a>
                <h6 class="mt-2">Skills</h6>
                <% if(user.skills.length>0){ %>
                <p >
                    <% user.skills.forEach(function (skill) {%>
                    <span class=" badge badge-success "><%= skill%></span>
                    <%})%>

                </p>
                <% } else{ %>
                <p><a href="" data-target="#edit" data-toggle="tab" >No skills available</a></p>
                <% } %>
            </div>

        </div>
        <div class="col-sm-9 ">
            <h3><%= user.firstname %> <%= user.lastname %> </h3>
            <p class="text-muted">
                <% if(user.bio.length>0){ %>
            <p><%= user.bio %></p>
            <% } else{ %>
            <p><a href="" data-target="#edit" data-toggle="tab" >No bio available</a></p>
            <% } %>
            </p>
            <div class="tab-content p-b-3">
                <div class="tab-pane active mt-4" id="profile">

                    <div class="row">
                        <div class="col-xl-6 mt-4">
                            <span class="btn btn-primary"><i class="fa fa-user"></i> Follow </span>
                            <span class="btn btn-success"><i class="fa fa-cog"></i> 43 Forks</span>
                            <span class="btn btn-danger"><i class="fa fa-eye"></i> 245 Views</span>

                        </div>
                        <div class="col-xl-6 mt-2">
                            <h6>Recent Tags</h6>
                            <a href="" class="tag tag-default tag-pill">html5</a>
                            <a href="" class="tag tag-default tag-pill">react</a>
                            <a href="" class="tag tag-default tag-pill">codeply</a>
                            <a href="" class="tag tag-default tag-pill">angularjs</a>
                            <a href="" class="tag tag-default tag-pill">css3</a>
                            <a href="" class="tag tag-default tag-pill">jquery</a>
                            <a href="" class="tag tag-default tag-pill">bootstrap</a>
                            <a href="" class="tag tag-default tag-pill">responsive-design</a>
                            <hr>

                        </div>
                        <div class="col-md-12">
                            <h4 class="mt-2"><span class="fa fa-clock-o ion-clock pull-xs-right"></span> Recent Activity</h4>
                            <table class="table table-hover table-striped">
                                <tbody>
                                <tr>
                                    <td>
                                        <strong><%= user.firstname %></strong> write an post <strong>which one to choose React js vs Angular js vs Vue js </strong>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <strong><%= user.firstname %></strong> comment on  <strong>what is tenser flow js</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong><%= user.firstname %></strong> up votes on <strong>what is the importence of git for developers</strong>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <strong><%= user.firstname %></strong> down vote on <strong>can we use react on server side</strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong><%= user.firstname %></strong>got  <strong> Golden bedge</strong>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="messages">

                    <div class="mt-4">
                        <div class="alert alert-info alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>. Use this to show important messages to the user.
                        </div>


                    </div>
                        <!--<table class="table table-hover table-striped">
                        <tbody>
                        <tr>
                            <td>
                                <span class="pull-xs-right font-weight-bold">3 hrs ago</span> Here is your a link to the latest summary report from the..
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="pull-xs-right font-weight-bold">Yesterday</span> There has been a request on your account since that was..
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="pull-xs-right font-weight-bold">9/10</span> Porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="pull-xs-right font-weight-bold">9/4</span> Vestibulum tincidunt ullamcorper eros eget luctus.
                            </td>
                        </tr>
                        </tbody>
                    </table>-->
                </div>

            </div>
        </div>

    </div>

<%- include('partials/footer') %>
